/* Container */
#converter {
   display:flex;
   flex-direction: column;
   justify-content: center; 
   align-items: center; 
   margin:0px 400px; 
   border:1px solid black; 
   border-radius: 10px; 
   background-color: rgb(240, 235, 229); 
   box-shadow:5px 15px 20px rgb(25, 18, 37) ; 
   transition: all 2s;
}
#converter:hover {
    transform: translateY(-7px);
}

/* Input section */
#conversion-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#converter-title {
  width:250px; 
  color:rgb(6, 6, 206); 
  font-weight: bolder;
  font-size: 50px;
}

/* Number input */
#number-input {
    width: 250px;
    height: 40px;
    background-color: rgb(243, 237, 235);
    border: 3px solid white;
    border-radius: 10px;

}

/* Submit button */
#submit-btn {
    background-color: red;
    width: 100px;
    height: 50px;
    font-size: 25px;
    color: white;
    border: 2px solid black;
    border-radius: 4px;
}

/* Labels */
label {
    font-style: italic;
    font-size: 40px;
    color: rgb(18, 13, 13);
}
#result{
    font-size: 30px;
}
@media (max-width: 600px) {
    #converter{
        margin:0px 10px;
    }
    label{
        font-size: 20px;
    }
}