body{
    background-color: antiquewhite;
}
#start{
margin-left:49%;
margin-top: 100px;
font-size:100px;
margin-bottom: 5px;
}
#container{
    display: flex;
    justify-content: center;
    gap:10px;
    height: 50px;
}
.counter-button{
    cursor: pointer;
    width:300px;
   font-size: larger;
   transition: all 2s;
   border-radius: 10px;
}
.counter-button:hover{
   background-color: silver;
   color: aliceblue;
}