 *{
            box-sizing: border-box;
            margin: 0;
        }
        body{
            background-color: palevioletred;
        }

        /* Header */
        .header-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 20px;
            background-color: pink;
            padding: 20px 90px;
            color: aliceblue;
            border: 2px solid black;
        }
        nav{
            display: flex;
            gap: 20px;
        }
        nav>a{
            color: aliceblue;
        }

        /* Intro Section */
        #intro-section{
            display: flex;
            background-color: rgb(138, 13, 82);
            height: 300px;
            gap: 200px;
            padding: 20px 90px;
            color: aliceblue;
        }
        #intro-section>div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 700px;
        }
        #intro-section>div>h1{
            align-self: flex-start;
        }

        /* Cards Section */
        #cards-section{
            display: flex;
            padding: 30px 90px;
            color: aliceblue;
            gap: 20px;
        }
        #cards-section>.card{
            border: 1px solid rgb(138, 13, 82);
            background-color: rgb(138, 13, 82);
            width: 300px;
            height: 150px;
            border-radius: 10px;
            padding: 30px;
        }
        a:hover{
            background-color: aqua;
        }