    *{
        box-sizing: border-box;
    }
    body{
          background-color: #edf2f8;
          font-family: 'Barlow Semi Condensed'
          ,sans-serif;
          line-height: 1.7;
          font-size: 13px;
        }
       .card-header{
          display: flex;
          align-items: center;
          column-gap: 10px;
          row-gap: 0px;
        }
        .card-header h3{
          font-size: 15px;
        }
         .card-header p{
          opacity: 50%;
        }
        .testimonial{
          max-width: 1440px;
          margin:100px auto;
          padding: 20px;
          display: grid;
          grid-template-columns:repeat(4,1fr);
          gap:30px;
        }
        .card-img{
          width: 60px;
          height: 60px;
          border-radius: 50px;
          border: 2px solid #996ed9;
        }
        .card{
          background-color: #fff;
          border-radius: 10px;
          padding: 30px;
          box-shadow: rgba(17,12,46,0.15) 0px
          48px 100px 0px;
          margin-bottom: 10px;
        }
       .card-lead {
  font-size: 1.5rem;   /* no space */
  font-weight: 500;    /* bold weight */
  line-height: 1.3;
  margin-bottom: 20px;
}
   .card-quote {
  font-size: 15px;   /* no space */
  font-weight: 500;    /* bold weight */
  line-height: 1.4;
  opacity: 70%;
}
#first{
  background-color: hsl(263,55%,52%);
  color: white;
  background-image: url('./images/bg-pattern-quotation.svg');
  background-repeat: no-repeat;
  background-position:top 70px right 100px;
  grid-column: 1/3;
}
#second{
  background-color: hsl(217,19%,35%);
  color: #fff;
}
#fourth{
  background-color: hsl(219,29%,14%);
  color: #fff;
  grid-column: 2/4;
  grid-row: 2;
}
#fifth{
  grid-column: 4;
  grid-row: 1/4;
}
@media (max-width: 600px) {
     .testimonial { 
        grid-template-columns: 1fr;
     }
      #first, #second, #third, #fourth, #fifth {
         grid-column: auto; grid-row: auto;
         }
         }